.header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    padding: 10px 10px;
    overflow: hidden;
    background: #4096e7;
    color: white;
    font-size: 30px;
    line-height: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.header .info {
    float: left;
}
.header a {
    float: right;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    background: #4096e7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header a:hover {
    background-color: rgba(221, 221, 221, 0.781);
}

.header a.active {
    background-color: #5D4A66;
    color: white;
}

